@{
    ViewData["Title"] = "Home";
}

<h4>Some information about me:</h4>

<ul>
    <li>Age: 47</li>
    <li>Height: 173 cm</li>
    <li>Weight: 75 kg</li>
    <li>Hair: Dark brown</li>
    <li>Eyes: Blue</li>
</ul>