@{
    ViewData["Title"] = "About";
}
@*
        <h4>@ViewData["Title"]</h4>

    <h4>Some basic information about me:</h4>
*@

<ul>
    <li>Age: 47</li>
    <li>Height: 173 cm</li>
    <li>Weight: 75 kg</li>
    <li>Hair: Dark brown</li>
    <li>Eyes: Blue</li>
    <li><a href="C:\Users\Anna\Desktop\CV & PB .Net\CV Anna Lunder.odt">Mitt CV</a></li>
</ul>


@*
    <div>
        <style>
            div.container {
                width: 300px;
                height: 25px;
                border: 3px solid black;
            }
        </style>

        <div class="container">
            <div class="box">Left</div>
            <div class="box">Middle</div>
            <div class="box">Right</div>
        </div>
    </div>
*@