@{
    ViewData["Title"] = "Contact information";
}
@*
    <h4>@ViewData["Title"]</h4>
*@

<ul>
    <li>Address: Brahegatan 2C: 1101</li>
    <li>City: 415 14 GÖTEBORG</li>
    <li>Phone: 0733 946810</li>
    <li>Email: anna_lunder@yahoo.se</li>
</ul>