@{
    ViewData["Title"] = "Projects";
}

@*
    <h4>@ViewData["Title"]</h4>
*@

<ul>
    <li>Golf game</li>
    <li>Vending machine</li>
    <li>JavaScript assignment</li>
    <li>Bootstrap site</li>
    <li>Html5 assignments</li>
</ul>
